[submodule "external/libunwind-ndk"]
	path = external/libunwind-ndk
	url = https://github.com/daawa/libunwind-ndk.git
[submodule "external/libunwindstack-ndk"]
	path = external/libunwindstack-ndk
	url = https://github.com/daawa/libunwindstack-ndk.git
[submodule "external/libcorkscrew-ndk"]
	path = external/libcorkscrew-ndk
	url = https://github.com/ivanarh/libcorkscrew-ndk.git
